---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/providers/registrations/sign_up":
    post:
      summary: Sign up provider
      parameters: []
      responses:
        '201':
          description: provider created
        '422':
          description: unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    mobile_number:
                      type: string
              required:
              - first_name
              - last_name
              - mobile_number
  "/providers/registrations/validate":
    post:
      summary: validate provider
      parameters: []
      responses:
        '200':
          description: provider validated
        '422':
          description: provider invalidated
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: object
                  properties:
                    mobile_number:
                      type: string
                    code:
                      type: string
              required:
              - mobile_number
              - code
  "/providers/sessions/login":
    post:
      summary: login provider
      parameters: []
      responses:
        '200':
          description: provider created
        '422':
          description: unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: object
                  properties:
                    mobile_number:
                      type: string
              required:
              - mobile_number
  "/providers/sessions/validate":
    post:
      summary: validate provider
      parameters: []
      responses:
        '200':
          description: provider validated
        '422':
          description: provider invalidated
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: object
                  properties:
                    mobile_number:
                      type: string
                    code:
                      type: string
              required:
              - mobile_number
              - code
  "/users/provider_services":
    get:
      summary: list provider services
      parameters:
      - name: ifix-uid
        in: header
        required: true
        schema:
          type: string
      - name: ifix-token
        in: header
        required: true
        schema:
          type: string
      - name: ifix-mobile-number
        in: header
        required: true
        schema:
          type: string
      - name: service_ids
        in: path
        description: service ids comma separated
        required: true
        schema:
          type: string
      - name: lat
        in: path
        required: true
        schema:
          type: string
      - name: lng
        in: path
        required: true
        schema:
          type: string
      - name: max_distance
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: services listed
        '401':
          description: unauthorized
  "/users/registrations/sign_up":
    post:
      summary: Sign up user
      parameters: []
      responses:
        '201':
          description: user created
        '422':
          description: unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    mobile_number:
                      type: string
              required:
              - first_name
              - last_name
              - mobile_number
  "/users/registrations/validate":
    post:
      summary: validate user
      parameters: []
      responses:
        '200':
          description: user validated
        '422':
          description: user invalidated
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    mobile_number:
                      type: string
                    code:
                      type: string
              required:
              - mobile_number
              - code
  "/users/services":
    get:
      summary: list services
      parameters:
      - name: ifix-uid
        in: header
        required: true
        schema:
          type: string
      - name: ifix-token
        in: header
        required: true
        schema:
          type: string
      - name: ifix-mobile-number
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: services listed
        '401':
          description: unauthorized
  "/users/sessions/login":
    post:
      summary: login user
      parameters: []
      responses:
        '200':
          description: user created
        '422':
          description: unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    mobile_number:
                      type: string
              required:
              - mobile_number
  "/users/sessions/validate":
    post:
      summary: validate user
      parameters: []
      responses:
        '200':
          description: user validated
        '422':
          description: user invalidated
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    mobile_number:
                      type: string
                    code:
                      type: string
              required:
              - mobile_number
              - code
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: vfix.instajax.com
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000